<h1>Job Posting</h1>
<form action="/jobs" method="post">
  <label for="new-title">Job Title:</label>
  <input id="new-title" name="new-title" type="text">
  <label for="new-description">Job Description:</label>
  <input id="new-description" name="new-description" type="text">
  <label for="new-contactInfo">Job Title:</label>
  <input id="new-contactInfo" name="new-contactInfo" type="text">
  <button type="submit">Submit</button>
</form>
